@import "tailwindcss";
.leaflet-container img {
  max-width: none !important;
}

@theme {
  --font-sans: 'Manrope', sans-serif;
}

@layer base {
  * {
    box-sizing: border-box;
  }

  html, body, #root {
    width: 100%;
    min-height: 100vh;
    font-family: 'Manrope', sans-serif;
  }
}